{{#each customers}}
<div class="modal fade" id="deleteCus{{this.customer_id}}" tabindex="-1"
  aria-labelledby="deleteCus{{this.customer_id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCus{{this.customer_id}}Label">Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        <div>All information and related data will be <strong>lost</strong> after deletion.</div>
        <div><strong>Are you sure to delete the data?</strong></div>
        </p>
        <ul>
          <li>Name: {{name}}</li>
          <li>Email: {{email}}</li>
          <li>Phone: {{phone}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/customers/{{this.customer_id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="container">
  <h2 id="title">Customers</h2>
  {{!-- Form --}}
  <form class="row" action="/customers" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="name" class="form-label mx-2">name</label>
        <input id="name" type="text" class="form-control" name="name" placeholder="ex: John Snow">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="email" class="form-label mx-2">email</label>
        <input id="email" type="email" class="form-control" name="email" placeholder="ex: name@example.com">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="phone" class="form-label mx-2">phone</label>
        <input id="phone" type="tel" class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          placeholder="ex: 111-222-3333">
      </div>
      <div>
        <input class="btn btn-primary " type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/customers/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchCusBy">
          <option selected value="customerId">Search By</option>
          <option value="name">name</option>
        </select>
        <input type="text" class="form-control mx-2" name="searchCusName">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">customer_id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each customers}}
      <tr>
        <th scope="row">{{customer_id}}</th>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>
          <a href="/customers/edit/{{this.customer_id}}">
            <button class="btn btn-secondary">Edit</button>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteCus{{customer_id}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>