{{!-- Delete Modal --}}
{{#each movies}}
<div class="modal fade" id="deleteMovie{{this.movie_id}}" tabindex="-1"
  aria-labelledby="deleteMovie{{this.movie_id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMovie{{this.movie_id}}Label">Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        <div>All information and related data will be <strong>lost</strong> after deletion.</div>
        <div><strong>Are you sure to delete the data?</strong></div>
        </p>
        <ul>
          <li>Movie Name: {{this.name}}</li>
          <li>Release Date: {{formatDate this.release_date}}</li>
          <li>Out of Theater Date: {{formatDate this.out_of_theater_date}}</li>
          <li>Rating: {{this.rating}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/movies/{{this.movie_id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{#each auditoriums}}
<div class="modal fade" id="deleteAuditorium{{this.auditorium_id}}" tabindex="-1"
  aria-labelledby="deleteAuditorium{{this.auditorium_id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAuditorium{{this.auditorium_id}}Label">Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        <div>All information and related data will be <strong>lost</strong> after deletion.</div>
        <div><strong>Are you sure to delete the data?</strong></div>
        </p>
        <ul>
          <li>Auditorium Name: {{this.auditorium_name}}</li>
          <li>Number of Seats: {{this.number_of_seats}}</li>
          <li>Theater Name: {{this.theater_name}}</li>
          <li>Projector Type: {{this.projector_equipment_type}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/auditoriums/{{this.auditorium_id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{#each moviesAuditoriums}}
<div class="modal fade" id="deleteMovieAuditorium{{this.movie_auditorium_id}}" tabindex="-1"
  aria-labelledby="deleteMovieAuditorium{{this.movie_auditorium_id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMovieAuditorium{{this.movie_auditorium_id}}Label">Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        <div>All information and related data will be <strong>lost</strong> after deletion.</div>
        <div><strong>Are you sure to delete the data?</strong></div>
        </p>
        <ul>
          <li>Movie Name: {{this.movie_name}}</li>
          <li>Auditorium Name: {{this.auditorium_name}}</li>
          <li>Time Slot: {{this.time_slot}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/moviesAuditoriums/{{this.movie_auditorium_id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{!-- Movies Table --}}
<div class="container">
  <h2 id="title">Movies</h2>
  {{!-- Form --}}
  <form class="row" action="/movies" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="movie-name" class="form-label mx-2">name</label>
        <input id="movie-name" type="text" class="form-control" name="movieName" placeholder="ex: movie name">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="release-date" class="form-label mx-2">release date</label>
        <input id="release-date" type="date" class="form-control" name="releaseDate">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="out-of-theater-date" class="form-label mx-2">out of theater date</label>
        <input id="out-of-theater-date" type="date" class="form-control" name="outOfTheaterDate">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="rating" class="form-label mx-2">rating</label>
        <input id="rating" type="text" class="form-control" name="rating" placeholder="ex: PG">
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/movies/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchMoviesBy">
          <option value="">Search By</option>
          <option value="movieName">Movie Name</option>
        </select>
        <input type="text" class="form-control mx-2" name="moviesKeyword">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Movie Id</th>
        <th scope="col">Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Out of Theater Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each movies}}
      <tr>
        <th scope="row">{{this.movie_id}}</th>
        <td>{{this.name}}</td>
        <td>{{formatDate this.release_date}}</td>
        <td>{{formatDate this.out_of_theater_date}}</td>
        <td>{{this.rating}}</td>
        <td>
          <a href="/movies/edit/{{this.movie_id}}">
            <button class="btn btn-secondary">Edit</button>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteMovie{{this.movie_id}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Auditoriums --}}
<div class="container">
  <h2>Auditoriums</h2>
  {{!-- Form --}}
  <form class="row" action="/auditoriums" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="auditorium-name" class="form-label mx-2">name</label>
        <input id="auditorium-name" type="text" class="form-control" name="auditoriumName"
          placeholder="ex: auditorium name">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="number-of-seats" class="form-label mx-2">number of seats</label>
        <input id="number-of-seats" type="number" class="form-control" name="seats" placeholder="ex: 200">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="theater-id" class="form-label mx-2">theater</label>
        <select id="theater-id" class="form-select form-control mx-2" name="theaterId">
          {{#each theatersList}}
          <option value={{this.theater_id}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="projector-id" class="form-label mx-2">projector</label>
        <select id="projector-id" class="form-select form-control mx-2" name="projectorId">
          {{#each projectorsList}}
          <option value={{this.projector_equipment_id}}>{{this.type}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/auditoriums/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchAuditoriumsBy">
          <option value="">Search By</option>
          <option value="auditoriumName">Auditoriums Name</option>
          <option value="theaterName">Theaters Name</option>
          <option value="projectorType">Projector Type</option>
        </select>
        <input type="text" class="form-control mx-2" name="auditoriumsKeyword">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Auditorium Id</th>
        <th scope="col">Auditoriums</th>
        <th scope="col">Number of Seats</th>
        <th scope="col">Theaters</th>
        <th scope="col">Projector Type</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each auditoriums}}
      <tr>
        <th scope="row">{{this.auditorium_id}}</th>
        <td>{{this.auditorium_name}}</td>
        <td>{{this.number_of_seats}}</td>
        <td>{{this.theater_name}}</td>
        <td>{{this.projector_equipment_type}}</td>
        <td>
          <a href="/auditoriums/edit/{{this.auditorium_id}}">
            <button class="btn btn-secondary">Edit</button>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteAuditorium{{this.auditorium_id}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Movies_Auditoriums Table --}}
<div class="container">
  <h2>Movies Auditoriums</h2>
  {{!-- Form --}}
  <form class="row" action="/moviesAuditoriums" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="movie-id" class="form-label mx-2">movie</label>
        <select id="movie-id" class="form-select form-control mx-2" name="movieId">
          {{#each moviesList}}
          <option value={{this.movie_id}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="auditorium-id" class="form-label mx-2">auditorium</label>
        <select id="auditorium-id" class="form-select form-control mx-2" name="auditoriumId">
          {{#each auditoriumsList}}
          <option value={{this.auditorium_id}}>{{this.auditorium_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="time-slot" class="form-label mx-2">time slot</label>
        <input id="time-slot" type="time" class="form-control" name="timeSlot">
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/moviesAuditoriums/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchMoviesAudisBy">
          <option selected>Search By</option>
          <option value="movieName">Movie Name</option>
          <option value="auditoriumName">Auditoriums Name</option>
          {{!-- <option value="timeSlot">time_slot</option> --}}
        </select>
        <input type="text" class="form-control mx-2" name="moviesAudisKeyword">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Movie Auditorium Id</th>
        <th scope="col">Movies</th>
        <th scope="col">Auditoriums</th>
        <th scope="col">Time Slot</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each moviesAuditoriums}}
      <tr>
        <th scope="row">{{this.movie_auditorium_id}}</th>
        <td>{{this.movie_name}}</td>
        <td>{{this.auditorium_name}}</td>
        <td>{{this.time_slot}}</td>
        <td>
          <a href="/moviesAuditoriums/edit/{{this.movie_auditorium_id}}">
            <button class="btn btn-secondary">Edit</button>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteMovieAuditorium{{this.movie_auditorium_id}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>