{{!-- Delete Modal --}}
{{#each projector}}
<div class="modal fade" id="deleteProjectors{{this.projector_equipment_id}}" tabindex="-1"
  aria-labelledby="deleteProjectors{{this.projector_equipment_id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProjectors{{this.projector_equipment_id}}Label">Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
        <div>All information and related data will be <strong>lost</strong> after deletion.</div>
        <div><strong>Are you sure to delete the data?</strong></div>
        </p>
        <ul>
          <li>Type: {{type}}</li>
          <li>Ticket Price: {{ticket_price}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/projectorEquipments/{{this.projector_equipment_id}}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="container">
  <h2>Projector Equipments</h2>
  {{!-- Form --}}
  <form class="row" action="/projectorEquipments" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="type" class="form-label mx-2">type</label>
        <input id="type" type="text" class="form-control" name="type" placeholder="4D">
      </div>
      <div>
        <input class="btn btn-primary " type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/projectorEquipments/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchProjBy"
          aria-label="Default select example">
          <option selected value="projectorEquipmentId">Search By</option>
          <option value="type">type</option>
        </select>
        <input type="text" class="form-control mx-2" name="Bytype">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">projector_equipment_id</th>
        <th scope="col">type</th>
        <th scope="col">ticket price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each projector}}
      <tr>
        <th scope="row">{{projector_equipment_id}}</th>
        <td>{{type}}</td>
        <td>{{ticket_price}}</td>
        <td>
          <a href="/projectorEquipments/edit/{{this.projector_equipment_id}}">
            <button class="btn btn-secondary">Edit</button>
          </a>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteProjectors{{projector_equipment_id}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>