<div class="container">
  <h2>Theaters</h2>
  {{!-- Form --}}
  <form class="row" action="/theaters" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="name" class="form-label mx-2">name</label>
        <input id="name" type="text" class="form-control" name="name">
      </div>

      <div class="input-group mb-3 align-items-center">
        <label for="address" class="form-label mx-2">address</label>
        <input id="address" type="text" class="form-control" name="address" placeholder="ex: 1234 Main St">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="phone" class="form-label mx-2">phone</label>
        <input id="phone" type="tel" class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      </div>
      <div>
        <input class="btn btn-primary " type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="/theaters/search" method="GET">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" name="searchTheatersBy">
          <option value="">Search By</option>
          <option value="name">name</option>
        </select>
        <input type="text" class="form-control mx-2" name="theatersKeyword">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">theater_id</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">phone</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each theaters}}
      <tr>
        <th scope="row">{{this.theater_id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone}}</td>
        <td><button class="btn btn-secondary" href="/theaters/:{{this.theater_id}}">Edit</button></td>
        <td><button class="btn btn-danger" href="/theaters/:{{this.theater_id}}">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>